<script>
    (function () {

        const videoIds = {{ earworms | dump | safe }};

        const iframe = document.querySelector('#earworm-player');
        const newVideoId = () => videoIds[Math.floor(Math.random() * videoIds.length)];
        const isValidVideo = (videoId) => videoIds.indexOf(videoId) !== -1;
        const loadVideo = (videoId) => {
            iframe.removeAttribute('srcdoc');
            iframe.src = "https://www.youtube-nocookie.com/embed/" + videoId + "?autoplay=1&loop=1&playlist=" + videoId;
        }
        const loadVideoFromHash = () => {
            const videoId = window
                .location
                .hash
                .replace('#', '');
            if (!isValidVideo(videoId)) {
                window.location.hash = newVideoId();
                return;
            }
            loadVideo(videoId);
        }

        window.addEventListener('load', function () {
            setTimeout(loadVideoFromHash, 1300);
            document
                .querySelector('.reload')
                .addEventListener('click', function (ev) {
                    ev.preventDefault();
                    window.location.hash = newVideoId();
                });
        });
        window.addEventListener('hashchange', function () {
            loadVideoFromHash();
        });
        window.onYouTubeIframeAPIReady = function (yt) {
            console.log('onYouTubeIframeAPIReady', yt, arguments);
        };

    }());
</script>