<script>

    (function () {
        const randomItem = (array) => {
            return array[Math.floor(Math.random() * array.length)];
        };

        let player;
        const earwormPlaylists = ['PL0wXgHf3j9Y3lklJdg1TEjp0Eg7LrKbSt'];
        function addYouTubeIframeScript() {
            const tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            const firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag
                .parentNode
                .insertBefore(tag, firstScriptTag);
        }

        function onPlayerReady(event) {
            player.setShuffle(true);
            setTimeout(() => player.nextVideo(), 500);
        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                document
                    .body
                    .classList
                    .add('earworm-playing');
            } else {
                document
                    .body
                    .classList
                    .remove('earworm-playing');
            }
        }

        function onError(event) {
            console.error('error playing', event);
            player.nextVideo();
        }

        window.onYouTubeIframeAPIReady = function onYouTubeIframeAPIReady() {
            player = new YT.Player('earworm-player', {
                host: 'https://www.youtube-nocookie.com',
                playerVars: {
                    list: randomItem(earwormPlaylists),
                    listType: 'playlist',
                    autoplay: 0,
                    controls: 0,
                    playsinline: 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange,
                    onError: onError
                }
            });
        }

        window.addEventListener('load', function () {
            addYouTubeIframeScript();
            document
                .querySelector('.earworm-actions .next')
                .addEventListener('click', function (ev) {
                    player.setShuffle(true);
                    player.nextVideo();
                });
            document
                .querySelector('.earworm-actions .play-pause')
                .addEventListener('click', function (ev) {
                    if (player.getPlayerState() === YT.PlayerState.PLAYING) {
                        player.pauseVideo();
                    } else {
                        player.playVideo();
                    }
                });
            document
                .querySelector('.earworm-actions .mute-unmute')
                .addEventListener('click', function (ev) {
                    if (player.isMuted()) {
                        player.unMute();
                        document
                            .body
                            .classList
                            .remove('earworm-muted');
                    } else {
                        player.mute();
                        document
                            .body
                            .classList
                            .add('earworm-muted');
                    }
                });
        });
    }());
</script>