<footer>
    <div class="earworm-bar">
        <span class="title-container">
            <h1 class="title">
                <a href="/" class="">
                    <span>earworms</span>
                </a>
            </h1>
            <div class="desc-container">
                <span>
                    listen to random earworms
                    <a href="/about"  class="icon-button about-link">
                        {% include 'layouts/icons/info.svg.njk' %}
                    </a>
                </span>

            </div>
        </span>
        <div >
            <div class="flex-center earworm-actions">
                <button aria-label="Mute or Unmite" class="flex-center icon-button mute-unmute">
                    {% include 'layouts/icons/muted.svg.njk' %}
                    {% include 'layouts/icons/unmuted.svg.njk' %}
                </button>
                <button aria-label="Pause or Play" class="flex-center icon-button play-pause">
                    {% include 'layouts/icons/play.svg.njk' %}
                    {% include 'layouts/icons/pause.svg.njk' %}
                </button>
                <button aria-label="Play another earworm" class="flex-center icon-button next">
                    {% include 'layouts/icons/next.svg.njk' %}
                </button>
            </div>
        </div>
    </div>
</footer>