<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<body style="margin:0;padding:0;">
    <div style='display:flex;width: 100vw;height: 75%;align-items: center;justify-content: center;font-family: sans-serif;font-size: 1.3em;box-sizing:border-box;padding: 1em;font-style: italic;'>your earworm should play here,<br/> if you have JavaScript enabled.. <br/>and everything goes right.</div>
</body>