<style>
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }
    :root {
        --footer-height: min(10rem, 30vh);
    }

    html {
        -moz-tab-size: 4;
        tab-size: 4;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        height: 100%;
    }

    body {
        margin: 0;
        font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
        background: aliceblue;
        height: 100%;
    }

    a,
    button {
        color: #303f9f;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: color 0.5s;
        cursor: pointer;
    }

    a:active,
    a:focus,
    a:hover,
    button:active,
    button:focus,
    button:hover {
        color: #ff5722;
    }
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        fill: currentColor;
    }
    button {
        background: transparent;
        border: none;
    }
    .icon {
        width: 1em;
        height: 1em;
    }
    .icon-button {
        width: 1em;
        height: 1em;
        padding: 0;
    }
    .earworm-container {
        width: 100vw;
        height: calc(100% - var(--footer-height));
    }

    #earworm-player {
        width: 100%;
        height: 100%;
        filter: unset;
        transition: all 1s;
    }

    .loading-player #earworm-player {
        filter: blur(50px);
    }

    footer {
        border-top: 1px solid #303f9f;
        height: var(--footer-height);
    }
    .earworm-bar {
        display: flex;
        padding: 0.5em;
    }

    .earworm-actions .next {
        font-size: 2rem;
    }
    .earworm-actions .mute-unmute,
    .earworm-actions .play-pause {
        position: relative;
        font-size: 2rem;
    }
    .mute-unmute .muted-icon,
    .mute-unmute .unmuted-icon,
    .play-pause .pause-icon,
    .play-pause .play-icon {
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.35s;
    }
    .play-pause .play-icon {
        opacity: 1;
    }
    .play-pause .pause-icon {
        opacity: 0;
    }
    .earworm-playing .play-pause .play-icon {
        opacity: 0;
    }
    .earworm-playing .play-pause .pause-icon {
        opacity: 1;
    }
    .mute-unmute .unmuted-icon {
        opacity: 1;
    }
    .mute-unmute .muted-icon {
        opacity: 0;
    }
    .earworm-muted .mute-unmute .unmuted-icon {
        opacity: 0;
    }
    .earworm-muted .mute-unmute .muted-icon {
        opacity: 1;
    }

    footer .title {
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin: 0 1em 0 0;
    }
    footer .title-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    footer .desc-container {
        display: flex;
        align-items: center;
    }
    .earworm-actions {
        padding: 0 1em;
        gap: 1em;
    }
    footer .next {}

    .about-link {
        font-size: 1.25rem;
        vertical-align: middle;
    }
    .about-page,
    .notfound-page {}
    .about-page main,
    .notfound-page main {
        font-size: 1.3em;
        padding: 1em;
        border-radius: 0.5em;
        background-color: #fff;
        max-width: 32rem;
        width: 90vw;
        margin: 1em auto;
    }
</style>