---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
templateClass: notfound-page
---
<main>
    <p>Nothing here, go <a href="{{ '/' | url }}">home</a>.</p>
    <p>This site <a href="/">plays a random earworm</a>.</p>
</main>