---
layout: layouts/base.njk
templateClass: about-page
---

<main >
    <p>
        Wikipedia defines "earworm" as
        "a catchy and/or memorable piece of music or saying
        that continuously
        occupies a person's mind even after it is no
        longer being played or spoken about"
    </p>
    <p>
        <a href="/">Earworms</a> app plays a random earworm from a curated collection.
    </p>

    <hr/>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9GtiQcVa70rvIFPCpGN1d-KSGDYoBUZuLZOPtwAxqMcDqwg/viewform?embedded=true" width="100%" height="574px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</main>