---
layout: layouts/base.njk
templateClass: about-page
---

<main >
    <p>
            Wikipedia defines "earworm" as
            "a catchy and/or memorable piece of music or saying
            that continuously
            occupies a person's mind even after it is no
            longer being played or spoken about"
        </p>
    <p>This site <a href="/">plays a random earworm</a>.</p>
</main>