---
layout: layouts/base.njk
---

<main class="earworm-container">
    <iframe title="The random earworm player" frameborder="0" id="earworm-player" async defer
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen srcdoc="{{framecontent}}"></iframe>
</main>
{% include "layouts/earworms.script.njk" %}

{% include "layouts/footer.njk" %}